{% extends 'base.html.twig' %}

{% block title %}Edit RefRelationshipTypes{% endblock %}

{% block body %}
    <h1>Edit RefRelationshipTypes</h1>

    {{ include('ref_relationship_types/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('ref_relationship_types_index') }}">back to list</a>

    {{ include('ref_relationship_types/_delete_form.html.twig') }}
{% endblock %}
