{% extends 'base.html.twig' %}

{% block title %}New RefPayementMethods
{% endblock %}

{% block body %}
	<div class="container">
		<h1>Create new RefPayementMethods</h1>

		{{ include('ref_payement_methods/_form.html.twig') }}

		<a href="{{ path('ref_payement_methods_index') }}">back to list</a>
	</div>
{% endblock %}
