.navbar-light .navbar-brand,
.navbar-light .navbar-nav .nav-link {
    color: #fff;
}

.navbar-light .navbar-brand:hover {
    color: #fff;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: rgb(23, 226, 40);
    border-top: 1px solid rgb(23, 226, 40);
}

footer {
    bottom: -1px;
}